@charset "UTF-8";
/* CSS Document */
.top-bar{
	background-color: rgba(100%,100%,100%,0.9);
	min-width: 1280px;
	height: 100px;
	position: fixed;
	z-index: 999;
}
.navbar{
	width: 100%;
	height: 80px;
	position: relative;
}
.nav-tabs{
	margin: 50px;
}
.logo img{
	position: absolute;
	left: 50px;
	top: 32px;
}
.menu{
	width: 1280px;
	height: 80px;
	position: absolute;
	left: 320px;
	top: 10px;
}
.menu li{
	display: inline-block;
	padding: 13px;
}
.menu a{
	font-family:Noto Sans CJK TC;
	font-size: 14px;
	font-weight: 550;
	letter-spacing: 3px;
	color: #000000;
	text-decoration: none;
	
}
.top-info{
	position: absolute;
	top: 40px;
	right: 50px;
	text-align:right;
	font-family:Noto Sans CJK TC;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 3px;
	line-height: 10px;
}
.top-info-line{
	background-color: #F8DC73;
	width: 12px;
	height: 70px;
	border-radius: 24px;
	position:relative;
	top: 3px;
	right: 0;
}
.top-info-words{
	position: absolute;
	top: 0;
	right: 30px;
	width: 200px;
	height: 100px;
}
.top-info-001{
	position: absolute;
	top: 9px;
	right: -13px;
	width: 400px;
}
.top-info-002{
	position: absolute;
	top: 36px;
	right: -5px;
	width: 400px;
	line-height: 7px;
}




.top-blank{
	background-color: #FFFFFF;
	height: 100px;
}
.top-blank-02{
	background-color: #FFFFFF;
	height: 300px;
}
.top-icon{
	position: absolute;
	top: 670px;
	left: calc(50% - 50px);
}
.top-icon p{
	text-align:center;
	font-family:Noto Sans CJK TC;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 3px;
	padding: 5px;
}




.content{
	position: relative;
	background-color: #FFFFFF;
	min-width: 1280px;
	height: 2400px;
}
.content-01{
	position: relative;
}
.news-carousel{
	position: absolute;
}


.content-02{
	height: 1200px;
	padding-top: 560px;
}
.news01{
	position: relative;
}
.ridge{
	width: 1185px;
	height: 300px;
	border-style: solid;
	border-color: #F39800;
	border-radius: 20px;
	border-width: 2px;
	margin: 0 auto;
}
.hexagon{
	position: absolute;
	right: 80px;
	top: 200px;
}
.hexagon a{
	text-decoration: none;
	cursor: pointer;
}
.hexagon p{
	color: #FFFFFF;
	font-family:Noto Sans CJK TC;
	font-size: 20px;
	font-weight: 500;
	position: absolute;
	top: 20px;
	right: 25px;
}
.hexagon a:hover{
	color: #209CB5;
}
.news-pic{
	position: absolute;
	top: 2px;
	left: 50px;
}
.news-pic img{
	-webkit-border-top-left-radius: 18px;
	-webkit-border-bottom-left-radius: 18px;
	-moz-border-top-left-radius: 18px;
	-moz-border-bottom-left-radius: 18px;
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;
}
.news-content{
	position: absolute;
	right: 200px;
	top: 60px;
	vertical-align: middle;
	font-family:Noto Sans CJK TC;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 3px;
	line-height: 20px;
}
.news-content h5{
	padding-bottom: 15px;
}
.news02{
	position: relative;
	top: 70px;
	margin: 0 auto;
}
.news-content02{
	position: absolute;
	right: 345px;
	top: 60px;
	vertical-align: middle;
	font-family:Noto Sans CJK TC;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 3px;
	line-height: 20px;
}
.news-content02 h5{
	padding-bottom: 15px;
}
.content-03{
	position: relative;
	height: 1000px;
	width: 1280px;
	top: 120px;
}
.line{
	width: 600px;
	height: 4px;
	background-color: #F5CEDD;
}
.news-pic-01{
	position: absolute;
	left: 50px;
}
.news-words h3{
	font-family:Noto Sans CJK TC;
	letter-spacing: 5px;
	padding-bottom: 10px;
}
.news-words{
	position: absolute;
	top: 0;
	right: 50px;
	font-family:Noto Sans CJK TC;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 3px;
}
.news-words-para{
	padding: 30px 0;
}
.mark-01{
	float: left;
	padding-right: 10px;
}
.item-01{
	float: left;
}
.clear{
	clear: both;
}
.onon{
	position: absolute;
	right: 60px;
	top: 520px;
}





.footer li{
	display: inline-block;
}
.footer{
	background-color: #E99413;
	height: 200px;
	width: 1280px;
	position: relative;
}
.footer-left{
	position: absolute;
	width: 500px;
	top: 50px;
	left: 100px;
}
.brand-info img{
	position: absolute;
	top: 0;
	right: 100px;
}
.brand-info p{
	position: absolute;
	top:35px;
	right: 40px;
}
.sociel-media{
	position: absolute;
	top: 65px;
	right: 115px;
}
.sociel-media img{
	width: 50px;
	padding: 25px 10px 15px 10px;
}
.fb:hover{
	-webkit-filter:opacity(.5);
}
.ig:hover{
	-webkit-filter:opacity(.5);
}
.footer-mid{
	background-color: #F3C517;
	height: 100px;
	width: 1px;
	position: absolute;
	top:50px;
	left: 640px;
}
.footer-right{
	width: 500px;
	position: absolute;
	top:50px;
	left: 700px;
}
.footer-right a{
	width: 120px;
	font-size: 12px;
	color: #000000;
	letter-spacing: 3px;
	padding: 0 25px;
}
.footer-right a:hover{
	color: #F3C517;
	text-decoration: none;
}
.footer-right ul{
	margin: 4px;
}
.new-notify-bg{
	position: absolute;
	top: 7px;
	left: 4px;
	width: 50px;
	height: 20px;
	background-color: #F3C517;
	padding: 0 10px;
	border-style: none;
	border-radius: 20px;
}
.new-notify p{
	position: absolute;
	top: -3px;
	left: 13px;
	text-align: center;
	line-height: 1px;
}